<div class="upload mx-auto">
    <div class="upload-wrap">
        <h3>Upload TrangTheoDoi</h3>
        <form action="/admin/trangtheodoi/add" method="POST">
            <div class="form-group">
                <label for="image" style="color: black;">Tải file ảnh:</label>
                <input type="file" class="form-style" placeholder="image" name="bg" id="bg" required>
                <i class="input-icon uil uil-lock-alt"></i>
            </div>
            <div class="register">
                <button class="btn mt-4" type="submit">Add</button>
            </div>
        </form>
    </div>
</div>