<div class="login mx-auto">
    <div class="login-wrap">
        <h3>Sign In</h3>
        <form action="/signin/register" method="POST">
            <div class="form-group">
                <input type="text" class="form-style" placeholder="Full Name" name="name" required>
                <i class="input-icon uil uil-user"></i>
            </div>
            <div class="form-group mt-2">
                <input type="tel" class="form-style" placeholder="Phone Number" name="phone" required>
                <i class="input-icon uil uil-phone"></i>
            </div>
            <div class="form-group">
                <input type="email" class="form-style" placeholder="Email" name="email" required>
                <i class="input-icon uil uil-at"></i>
            </div>
            <div class="form-group">
                <input type="password" class="form-style" placeholder="Password" name="password" required>
                <i class="input-icon uil uil-lock-alt"></i>
            </div>
            <div class="form-group">
                <input type="password" class="form-style" placeholder="Confirm password" name="confirm_password" required>
                <i class="input-icon uil uil-lock-alt"></i>
            </div>
            <div class="register">
                <button class="btn mt-4" type="submit">register</button>
            </div>
            <div class="already">
                <a href="../pagelogin/" class="btn-alredy">You already have an account ?</a>
            </div>
            <div class="aler">
            </div>
        </form>
    </div>
</div>
