    <div class="root">
      <div class="row no-gutters">
        <!-- sidebar -->
        <div class="sidebar">
          <!-- logo -->
          <div class="sidebar__logo">
          </div>
          <!-- nav -->
          <ul class="sidebar__nav">
            <li>
              <a href="../Trangchu">
                <i class="sidebar__icon far fa-play-circle"></i>
                <span>Cá Nhân</span>
              </a>
            </li>
            <li>
              <a href="../Trangchu">
                <i class="sidebar__icon fas fa-compact-disc"></i>
                <span>khám Phá</span>
              </a>
            </li>
            <li>
              <a href="../Trangchu">
                <i class="sidebar__icon fas fa-chart-line"></i>
                <span>#zingchart</span>
              </a>
            </li>
            <li>
              <a href="../TrangTheoDoi/index.html">
                <i class="sidebar__icon fa-regular fa-rectangle-list"></i>
                <span>Theo Dõi</span>
              </a>
            </li>
            <li class="underline"></li>
            <li>
              <a href="../TrangTheLoai/index.html">
                <i class="sidebar__icon fab fa-buromobelexperte"></i>
                <span>Thể Loại</span>
              </a>
            </li>
            <li>
              <a href="../TrangTop100/index.html">
                <i class="sidebar__icon fas fa-star"></i>
                <span>Top 100</span>
              </a>
            </li>
            <!-- <li>
              <a href="../TrangMV/index.html">
                <i class="sidebar__icon fas fa-photo-video"></i>
                <span>MV</span>
              </a>
            </li> -->
          </ul>
        </div>

        <!-- main -->
        <div class="main">
          <div class="container">
            <header class="header">
              <div class="container justify-content-between justify-content-end">
                <div class="header__search d-md-flex d-none">
                  <div class="header__search-control">
                    <i class="fa-solid fa-arrow-left"></i>
                    <i class="fa-solid fa-arrow-right"></i>
                  </div>
                  <div class="header__search-box d-md-flex d-none">
                    <label for="header-search"><i class="fa-solid fa-magnifying-glass"></i></label>
                    <input id="header-search" type="text" placeholder="Tìm kiếm bài hát, nghệ sĩ, lời bài hát..." />
                  </div>
                </div>
                <div class="header__user">
                  <i class="fas fa-cog"></i>
                  <i class="fa-solid fa-user"></i>
                </div>
              </div>
            </header>
          </div>

          <!-- content -->
          <div class="content">
            <div class="container">
              <!-- banner -->
              <div class="banner__img">
                <a href="#" alt="Banner" aria-label="Banner">
                  <img src="/img/image_trangtop100/banner_1.png" alt="" class="banner_img" />
                </a>
              </div>

              <!-- category -->
              <div class="category">
                <!-- Nổi Bật -->
                <div class="outstanding">
                  <h2 class="outstanding__heading heading">Nổi Bật</h2>
                  <div class="row">
                    <div class="col col-lg-2 col-md-3 col-4">
                      <div class="card">
                        <div class="card__img"><img src="/img/image_trangtop100/top100_nhactre.png" alt="" /></div>
                        <div class="card__body">
                          <div class="card__body-title" data-toggle="tooltip" data-placement="bottom" title="Top 100 Bài Hát Nhạc Trẻ Hay Nhất">Top 100 Bài Hát Nhạc Trẻ</div>
                          <p class="card__body-desc">
                            <a href="">MONO, </a>
                            <a href="">Vương Anh Tú, </a>
                            <a href="">Keyo...</a>
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="col col-lg-2 col-md-3 col-4">
                      <div class="card">
                        <div class="card__img"><img src="/img/image_trangtop100/top100_pop_au_my.png" alt="" /></div>
                        <div class="card__body">
                          <div class="card__body-title" data-toggle="tooltip" data-placement="bottom" title="Top 100 Nhạc Pop Âu Mỹ Hay Nhất">Top 100 Nhạc Pop Âu Mỹ Hay Nhất</div>
                          <p class="card__body-desc">
                            <a href="">Adele, </a>
                            <a href="">Kid Laroi, </a>
                            <a href="">Justin Bieber...</a>
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="col col-lg-2 col-md-3 col-4">
                      <div class="card">
                        <div class="card__img"><img src="/img/image_trangtop100/top100_hq.png" alt="" /></div>
                        <div class="card__body">
                          <div class="card__body-title" data-toggle="tooltip" data-placement="bottom" title="Top 100 Nhạc Hàn Quốc Hay Nhất">Top 100 Nhạc Hàn Quốc Hay Nhất</div>
                          <p class="card__body-desc">
                            <a href="">TWICE, </a>
                            <a href="">Big Bang, </a>
                            <a href="">BTS...</a>
                          </p>
                        </div>
                      </div>
                    </div>


                    <div class="col col-lg-2 col-md-3 col-4">
                      <div class="card">
                        <div class="card__img"><img src="/img/image_trangtop100/top100_rap_viet.png" alt="" /></div>
                        <div class="card__body">
                          <div class="card__body-title" data-toggle="tooltip" data-placement="bottom" title="Top 100 Nhạc Rap Việt Nam hay nhất">Top 100 Nhạc Rap Việt Nam hay nhất</div>
                          <p class="card__body-desc">
                            <a href="">WEAN & NAOMI, </a>
                            <a href="">HIEUTHUHAI, </a>
                            <a href="">Phúc Du...</a>
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="col col-lg-2 col-md-3 col-4">
                      <div class="card">
                        <div class="card__img"><img src="/img/image_trangtop100/top100_edm.png" alt="" /></div>
                        <div class="card__body">
                          <div class="card__body-title" data-toggle="tooltip" data-placement="bottom" title="Top 100 Nhạc Electronic/Dance Âu Mỹ Hay Nhất">Top 100 Nhạc Electronic/Dance Âu Mỹ Hay Nhất</div>
                          <p class="card__body-desc">
                            <a href="">Alan Walker, </a>
                            <a href="">K-391, </a>
                            <a href="">Emelie Hollow...</a>
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="col col-lg-2 col-md-3 col-4">
                      <div class="card">
                        <div class="card__img"><img src="/img/image_trangtop100/top100_edm_viet.png" alt="" /></div>
                        <div class="card__body">
                          <div class="card__body-title" data-toggle="tooltip" data-placement="bottom" title="Top 100 Nhạc EDM Việt Hay Nhất">Top 100 Nhạc EDM Việt Hay Nhất</div>
                          <p class="card__body-desc">
                            <a href="">Masew, </a>
                            <a href="">Pháo, </a>
                            <a href="">CM1X...</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <!-- Nhạc Việt Nam -->
                <div class="vnmusic">
                  <h2 class="vnmusic__heading heading">Nhạc Việt Nam</h2>
                  <div class="row">
                    <div class="col col-lg-2 col-md-3 col-4">
                      <div class="card">
                        <div class="card__img"><img src="/img/image_trangtop100/top100_nhac_phim_vn.png" alt="" /></div>
                        <div class="card__body">
                          <div class="card__body-title" data-toggle="tooltip" data-placement="bottom" title="Top 100 Nhạc Phim Việt Nam Hay Nhất">Top 100 Nhạc Phim Việt Nam Hay Nhất</div>
                          <p class="card__body-desc">
                            <a href="">Phan Mạnh Quỳnh, </a>
                            <a href="">Bảo Ngọc, </a>
                            <a href="">Khải Đăng...</a>
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="col col-lg-2 col-md-3 col-4">
                      <div class="card">
                        <div class="card__img"><img src="/img/image_trangtop100/top100_nhac_trinh.png" alt="" /></div>
                        <div class="card__body">
                          <div class="card__body-title" data-toggle="tooltip" data-placement="bottom" title="Top 100 Nhạc Trịnh Hay Nhất">Top 100 Nhạc Trịnh Hay Nhất</div>
                          <p class="card__body-desc">
                            <a href="">Hùng Cường, </a>
                            <a href="">Ánh Loan, </a>
                            <a href="">Việt Hòa...</a>
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="col col-lg-2 col-md-3 col-4">
                      <div class="card">
                        <div class="card__img"><img src="/img/image_trangtop100/top100_cai_luong.png" alt="" /></div>
                        <div class="card__body">
                          <div class="card__body-title" data-toggle="tooltip" data-placement="bottom" title="Top 100 Bài Hát Cải Lương Hay Nhất">Top 100 Bài Hát Cải Lương Hay Nhất</div>
                          <p class="card__body-desc">
                            <a href="">Cẩm Loan, </a>
                            <a href="">Hoàn Lâm, </a>
                            <a href="">Thúy Hằng...</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col col-lg-2 col-md-3 col-4">
                      <div class="card">
                        <div class="card__img"><img src="/img/image_trangtop100/top100_nhac_khong_loi.png" alt="" /></div>
                        <div class="card__body">
                          <div class="card__body-title" data-toggle="tooltip" data-placement="bottom" title="Top 100 Nhạc Không Lời Hay Nhất">Top 100 Nhạc Không Lời Hay Nhất</div>
                          <p class="card__body-desc">
                            <a href="">Đặng Quốc Việt, </a>
                            <a href="">Peto, </a>
                            <a href="">Phương Thùy...</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col col-lg-2 col-md-3 col-4">
                      <div class="card">
                        <div class="card__img"><img src="/img/image_trangtop100/top100_thieu_nhi.png" alt="" /></div>
                        <div class="card__body">
                          <div class="card__body-title" data-toggle="tooltip" data-placement="bottom" title="Top 100 Nhạc Trịnh Hay Nhất">Top 100 Nhạc Thiếu Nhi Hay Nhất</div>
                          <p class="card__body-desc">
                            <a href="">Bé Xuân Mai, </a>
                            <a href="">Mai Vy, </a>
                            <a href="">Ngọc Khánh Chi...</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col col-lg-2 col-md-3 col-4">
                      <div class="card">
                        <div class="card__img"><img src="/img/image_trangtop100/top100_dance_viet.png" alt="" /></div>
                        <div class="card__body">
                          <div class="card__body-title" data-toggle="tooltip" data-placement="bottom" title="Top 100 Nhạc Dance Việt Hay Nhất">Top 100 Nhạc Dance Việt Hay Nhất</div>
                          <p class="card__body-desc">
                            <a href="">CUKAK, </a>
                            <a href="">Phát Hồ, </a>
                            <a href="">DinhLong...</a>
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="col col-lg-2 col-md-3 col-4">
                      <div class="card">
                        <div class="card__img"><img src="/img/image_trangtop100/top100_cach_mang.png" alt="" /></div>
                        <div class="card__body">
                          <div class="card__body-title" data-toggle="tooltip" data-placement="bottom" title="Top 100 Nhạc Cách Mạng Việt Nam Hay Nhất">Top 100 Nhạc Cách Mạng Việt Nam Hay Nhất</div>
                          <p class="card__body-desc">
                            <a href="">Trường Kha, </a>
                            <a href="">Quang Hà, </a>
                            <a href="">Tình Ca Việt...</a>
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="col col-lg-2 col-md-3 col-4">
                      <div class="card">
                        <div class="card__img"><img src="/img/image_trangtop100/top100_rock_viet.png" alt="" /></div>
                        <div class="card__body">
                          <div class="card__body-title" data-toggle="tooltip" data-placement="bottom" title="Top 100 Nhạc Rock Việt Hay Nhất">Top 100 Nhạc Rock Việt Hay Nhất</div>
                          <p class="card__body-desc">
                            <a href="">7UPPPERCUTS, </a>
                            <a href="">Cassette, </a>
                            <a href="">ĐÁ SỐ TỚI...</a>
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="col col-lg-2 col-md-3 col-4">
                      <div class="card">
                        <div class="card__img"><img src="/img/image_trangtop100/top100_que_huong.png" alt="" /></div>
                        <div class="card__body">
                          <div class="card__body-title" data-toggle="tooltip" data-placement="bottom" title="Top 100 Nhạc Quê Hương Hay Nhất">Top 100 Nhạc Quê Hương Hay Nhất</div>
                          <p class="card__body-desc">
                            <a href="">Phi Nhung, </a>
                            <a href="">Tố My, </a>
                            <a href="">Dương Hồng Loan...</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
                <!-- Nhạc Âu Mĩ-->
                <div class="usukmusic">
                  <h2 class="usukmusic__heading heading">Nhạc Âu Mĩ</h2>
                  <div class="row">
                    <div class="col col-lg-4 col-md-4 col-sm-4">
                      <div class="card">
                        <div class="card__img"><img src="/img/image_trangtop100/top100_audio.png" alt="" /></div>
                        <div class="card__body">
                          <div class="card__body-title" data-toggle="tooltip" data-placement="bottom" title="Top 100 Nhạc Audiophile Âu Mỹ Hay Nhất">Top 100 Nhạc Audiophile Âu Mỹ Hay Nhất</div>
                          <p class="card__body-desc">
                            <a href="">Bobby Vinton, </a>
                            <a href="">Herman's Hermits, </a>
                            <a href="">Matt Monro...</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col col-lg-4 col-md-4 col-sm-4">
                      <div class="card">
                        <div class="card__img"><img src="/img/image_trangtop100/top100_indie.png" alt="" /></div>
                        <div class="card__body">
                          <div class="card__body-title" data-toggle="tooltip" data-placement="bottom" title="Top 100 Nhạc Indie Âu Mỹ Hay Nhất">Top 100 Nhạc Indie Âu Mỹ Hay Nhất</div>
                          <p class="card__body-desc">
                            <a href="">Au/Ra, </a>
                            <a href="">Luke Hemmings, </a>
                            <a href="">Declan...</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <!-- d-none d-sm-block -->
                    <div class="col col-lg-4 col-md-4 col-sm-4">   
                      <div class="card">
                        <div class="card__img"><img src="/img/image_trangtop100/top100_rock_aumy.png" alt="" /></div>
                        <div class="card__body">
                          <div class="card__body-title" data-toggle="tooltip" data-placement="bottom" title="Top 100 Nhạc Rock Âu Mỹ Hay Nhất">Top 100 Nhạc Rock Âu Mỹ Hay Nhất</div>
                          <p class="card__body-desc">
                            <a href="">Imagine Dragons, </a>
                            <a href="">The 1975, </a>
                            <a href="">Leah Kate...</a>
                          </p>
                        </div>
                      </div>
                    </div>
                   
                  </div>
                </div>
                <!-- Nhạc Hòa Tấu -->
                <div class="symphony">
                  <h2 class="symphony__heading heading">Nhạc Hòa Tấu</h2>
                  <div class="row">
                    <div class="col col-lg-2 col-md-3 col-6">
                      <div class="card">
                        <div class="card__img"><img src="/img/image_trangtop100/top100_hoatau.png" alt="" /></div>
                        <div class="card__body">
                          <div class="card__body-title" data-toggle="tooltip" data-placement="bottom" title="Top 100 Nhạc Hòa Tấu Cổ Điển Hay Nhất">Top 100 Nhạc Hòa Tấu Cổ Điển Hay Nhất</div>
                          <p class="card__body-desc">
                            <a href="">Contempo-Divo, </a>
                            <a href="">Gyu Yeon, </a>
                            <a href="">Hawa...</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col col-lg-2 col-md-3 col-6">
                      <div class="card">
                        <div class="card__img"><img src="/img/image_trangtop100/top100_violin.png" alt="" /></div>
                        <div class="card__body">
                          <div class="card__body-title" data-toggle="tooltip" data-placement="bottom" title="Top 100 Nhạc Hòa Tấu Nhạc Cụ Violin Hay Nhất">Top 100 Nhạc Hòa Tấu Nhạc Cụ Violin Hay Nhất</div>
                          <p class="card__body-desc">
                            <a href="">Hiền Lê, </a>
                            <a href="">Yanni, </a>
                            <a href="">Jmi...</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col col-lg-2 col-md-3 col-6">
                      <div class="card">
                        <div class="card__img"><img src="/img/image_trangtop100/top100_cello.png" alt="" /></div>
                        <div class="card__body">
                          <div class="card__body-title" data-toggle="tooltip" data-placement="bottom" title="Top 100 Nhạc Hòa Tấu Nhạc Cụ Cello Hay Nhất">Top 100 Nhạc Hòa Tấu Nhạc Cụ Cello Hay Nhất</div>
                          <p class="card__body-desc">
                            <a href="">David Darling, </a>
                            <a href="">The Piano Guys, </a>
                            <a href="">Yo-Yo Ma...</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col col-lg-2 col-md-3 col-6">
                      <div class="card">
                        <div class="card__img"><img src="/img/image_trangtop100/top100_piano.png" alt="" /></div>
                        <div class="card__body">
                          <div class="card__body-title" data-toggle="tooltip" data-placement="bottom" title="Top 100 Nhạc Hòa Tấu Nhạc Cụ Piano Hay Nhất">Top 100 Nhạc Hòa Tấu Nhạc Cụ Piano Hay Nhất</div>
                          <p class="card__body-desc">
                            <a href="">Vũ Đặng Quốc Việt, </a>
                            <a href="">Relax Lab, </a>
                            <a href="">Yiruma...</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col col-lg-2 col-md-3 col-6">
                      <div class="card">
                        <div class="card__img"><img src="/img/image_trangtop100/top100_newage.png" alt="" /></div>
                        <div class="card__body">
                          <div class="card__body-title" data-toggle="tooltip" data-placement="bottom" title="Top 100 Nhạc Hòa Tấu New Age / World Music Hay Nhất">Top 100 Nhạc Hòa Tấu New Age / World Music Hay Nhất</div>
                          <p class="card__body-desc">
                            <a href="">Louie Ocampo, </a>
                            <a href="">Bandari, </a>
                            <a href="">Richard Clayderman...</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col col-lg-2 col-md-3 col-6">
                      <div class="card">
                        <div class="card__img"><img src="/img/image_trangtop100/top100_saxophone.png" alt="" /></div>
                        <div class="card__body">
                          <div class="card__body-title" data-toggle="tooltip" data-placement="bottom" title="Top 100 Nhạc Hòa Tấu Nhạc Cụ Saxophone Hay Nhất">Top 100 Nhạc Hòa Tấu Nhạc Cụ Saxophone Hay Nhất</div>
                          <p class="card__body-desc">
                            <a href="">Đinh Quang Minh, </a>
                            <a href="">Đông Hòa, </a>
                            <a href="">Kenny G...</a>
                          </p>
                        </div>
                      </div>
                    </div>   
                  </div>
                </div>
                <!-- Nhạc Châu Á -->
                <div class="asiamusic d-lg-block d-none">
                  <h2 class="asiamusic__heading heading">Nhạc Châu Á</h2>
                  <div class="row">
                    <div class="col">
                      <div class="card">
                        <div class="card__img"><img src="/img/image_trangtop100/top100_phim_hq.png" alt="" /></div>
                        <div class="card__body">
                          <div class="card__body-title" data-toggle="tooltip" data-placement="bottom" title="Top 100 Nhạc Phim Hàn Quốc Hay Nhất">Top 100 Nhạc Phim Hàn Quốc</div>
                          <p class="card__body-desc">
                            <a href="">Jung Suk, </a>
                            <a href="">Gaho, </a>
                            <a href="">Davichi...</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <div class="card__img"><img src="/img/image_trangtop100/top100_hoa_ngu.png" alt="" /></div>
                        <div class="card__body">
                          <div class="card__body-title" data-toggle="tooltip" data-placement="bottom" title="Top 100 Nhạc Hoa Ngữ Hay Nhất">Top 100 Nhạc Hoa Ngữ Hay Nhất</div>
                          <p class="card__body-desc">
                            <a href="">Châu Kiệt Luân, </a>
                            <a href="">Tiết Chi Khiêm, </a>
                            <a href="">Twins...</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <div class="card__img"><img src="/img/image_trangtop100/top100_jpop.png" alt="" /></div>
                        <div class="card__body">
                          <div class="card__body-title" data-toggle="tooltip" data-placement="bottom" title="Top 100 Nhạc Nhật Bản Hay Nhất">Top 100 Nhạc Nhật Bản Hay Nhất</div>
                          <p class="card__body-desc">
                            <a href="">Kenshi Yonezu, </a>
                            <a href="">YOASOBI, </a>
                            <a href="">FLOW...</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <div class="card__img"><img src="/img/image_trangtop100/top100_hq.png" alt="" /></div>
                        <div class="card__body">
                          <div class="card__body-title" data-toggle="tooltip" data-placement="bottom" title="Top 100 Nhạc Hàn Quốc Hay Nhất">Top 100 Nhạc Hàn Quốc Hay Nhất</div>
                          <p class="card__body-desc">
                            <a href="">TWICE, </a>
                            <a href="">BLACKPINK, </a>
                            <a href="">IVE...</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>


              <!-- end category -->
            </div>
          </div>
        </div>
        <!-- end content -->
      </div>
    </div>